form p{
    font-family: 'MarkGeo-SB', sans-serif;
    font-size: 21px;
    margin: 0;
    margin-top: 20px;
}

[data-theme="dark"] form p{
    color: #888;
}

form input, textarea{
    max-width: 32%;
    min-width: 32%;
    height: 32px;
    margin-top: 14px;
    padding: 12px;
    border: 1px solid #888;
    font-family: 'MarkGeo-M', sans-serif;
    transition: 0.3s;
}

.submit{
    margin-top: 18px;
    width: 256px;
    height: 60px;
    cursor: pointer;
    padding: 0;
    font-family: 'MarkGeoCaps-B', sans-serif;
    border: 1px solid #888;
    transition: 0.3s;
}

.submit:hover{
    background: #fb2477;
    transition: 0.3s;
}

[data-theme="dark"] form input{
    color: #464646;
    background: #111;
    border: 1px solid #464646;
    transition: 0.3s;
}

[data-theme="dark"] form textarea{
    color: #464646;
    background: #111;
    border: 1px solid #464646;
    transition: 0.3s;
}

[data-theme="dark"] .submit{
    color: #888;
    background: #040404;
    border: 1px solid #464646;
    transition: 0.3s;
}

[data-theme="dark"] .submit:hover{
    color: #000;
    background: #b11652;
    transition: 0.3s;
}

form input:focus, form textarea:focus-visible {
    border: 1px solid #fb2477 !important;
    outline: none;
}

@media only screen and (max-width: 1025px){
    form input, textarea{
        max-width: 96%;
        min-width: 96%;
    }
}

@media only screen and (max-width: 800px){
    form input, textarea{
        max-width: 92%;
        min-width: 92%;
    }
}