footer{
    display: flex;
    width: 90%;
    flex-direction: column;
    margin: 0 auto;
    margin-top: 2vh;
    padding-top: 1vh;
    border-top: 1px solid black;
}

.separateFooter{
    display: flex;
    justify-content: space-between;
}

.sepSep{
    font-family: 'MarkGeo-M', sans-serif;
    font-size: 2vh;
}

.socials{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 2vh 0;
}

.social{
    padding: 2vh 9vh;
    border: 1px solid black;
    font-family: 'MarkGeo-SB', sans-serif;
    text-decoration: none;
    color: black;
    font-size: 3vh;
    transition: 0.3s;
}

.yt:hover{
    background: rgb(177, 0, 0);
    transition: 0.3s;
}

.be:hover{
    background: rgb(1, 92, 255);
    transition: 0.3s;
}

.dr:hover{
    background: rgb(231, 77, 137);
    transition: 0.3s;
}

.ig:hover{
    background: linear-gradient(211deg, rgba(247, 212, 0, 1) -10%, rgba(239, 13, 30, 1) 50%, rgba(126, 62, 177, 1) 110%);
    transition: 0.3s;
}

.fb:hover{
    background: linear-gradient(198deg, rgba(25, 173, 255, 1) 0%, rgba(2, 98, 225, 1) 100%);
    transition: 0.3s;
}

[data-theme="dark"] footer{
    border-top: 1px solid white;
    transition: 0.3s;
}

[data-theme="dark"] .social{
    border: 1px solid white;
    color: white;
    transition: 0.3s;
}

[data-theme="dark"] .sepSep{
    color: white;
    transition: 0.3s;
}