body{
    background: url(webstyles/bg-light.jpg);
    background-size: cover;
}

[data-theme="dark"] {
    background: url(webstyles/bg-dark.jpg);
    transition: 0.3s;
}

.container{
    width: 1560px;
    margin: auto;
}

header, main{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

header{
    padding-top: 6vh;
}

.logo{
    height: 64px;
    width: auto;
    transition: 0.5s;
}

[data-theme="dark"] .logo{
    height: 64px;
    filter: invert(1);
    transition: 0.3s;
}

.menu{
    width: 64px;
    height: 64px;
    background: url(../icons/menu-icon-black.svg), rgb(255, 255, 255, 34%);
    background-repeat: no-repeat;
    background-position: center;
    backdrop-filter: blur(42px);
    border: none;
    cursor: pointer;
    transition: 0.2s;
}

[data-theme="dark"] .menu{
    background: url(../icons/menu-icon-black.svg), rgb(190 190 190 / 34%);
    background-repeat: no-repeat;
    background-position: center;
    filter: invert(1);
    transition: 0.3s;
}

.close{
    width: 64px;
    height: 64px;
    background: url(../icons/cross-icon.svg), rgb(255, 255, 255, 34%);
    background-repeat: no-repeat;
    background-position: center;
    backdrop-filter: blur(42px);
    border: none;
    cursor: pointer;
    transition: 0.2s;
}

[data-theme="dark"] .close{
    background: url(../icons/cross-icon.svg), rgb(190 190 190 / 34%);
    background-repeat: no-repeat;
    background-position: center;
    filter: invert(1);
    transition: 0.3s;
}

.menu:hover{
    background: url(../icons/menu-icon-black.svg), rgba(255, 255, 255, 0.6);
    background-repeat: no-repeat;
    background-position: center;
    backdrop-filter: blur(42px);
    transition: 0.2s;
}

.close:hover{
    background: url(../icons/cross-icon.svg), rgba(255, 255, 255, 0.6);
    background-repeat: no-repeat;
    background-position: center;
    backdrop-filter: blur(42px);
    transition: 0.2s;
}

h1{
    opacity: 0;
    position: absolute;
}

p{
    font-family: 'Mark';
    font-size: 1.5em;
    width: 36.1vw;
    color: #707070;
}

[data-theme="dark"] p{
    color: rgba(182, 182, 182, 0.8);
    transition: 0.3s;
}

.lstart{
    width: 21vw;
    height: 11.2vh;
    border: 1px solid #707070;
    margin-top: 6.7vh;
    background: #F5D4D6;
    font-size: 40px;
    font-family: 'Mark-Bold';
    text-transform: uppercase;
    color: #4E4E4E;
    cursor: pointer;
    transition: 0.3s;
}

[data-theme="dark"] .lstart{
    border: 1px solid #E9E9E9;
    background: #CB1D44;
    color: #E9E9E9;
    transition: 0.3s;
}

[data-theme="dark"] .lstart:hover{
    border: 1px solid #c5c4c4;
    background: #9c1633;
    color: #c7c7c7;
    transition: 0.3s;
}

.lstart:hover{
    background: #E6C4C6;
    color: #3f3f3f;
    border: 1px solid #575757;
    transition: 0.3s;
}

.icon{
    width: 1.8vw;
    height: 3.4vh;
    display: inline-block;
}

.arrow{
    background: url(../icons/start-arrow.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: 0.3s;
}

.lstart:hover > .arrow {
    transform: translateX(10px);
}

[data-theme="dark"] .arrow{
    filter: invert(1);
    transition: 0.3s;
}

.nightmode{
    background: url(../icons/night-mode-moon.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.welcome{
    width: 40vw;
    height: 87vh;
    margin-top: -4vh;
}

.sideOne{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 80.86vh;
}

nav{
    background: rgba(255, 255, 255, 0.14);
    position: absolute;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(25px);
    z-index: 1;
    transform: scale(0);
    transition: 0.5s;
}

[data-theme="dark"] nav{
    background: rgba(0, 0, 0, 0.65);
    transition: 0.3s;
}

li a{
    font-size: 5.5em;
    font-family: 'Mark-Bold';
    color: #313131;
    text-decoration: none;
    text-transform: uppercase;
}

[data-theme="dark"] li a{
    color: #7A7A7A;
    transition: 0.3s;
}

li {
    display: block;
    margin-bottom: 26px;
}

ul{
    padding-inline-start: 0;
}

.active{color: #FF0049;}
[data-theme="dark"] .active{color: #FF0049;}    

.darkmode{
    width: 310px;
    height: 65px;
    background: rgba(255, 255, 255, 0.25);
    border: none;
    cursor: pointer;
    font-family: 'Mark';
    font-size: 32px;
    color: #313131;
    margin-top: 62px;
    transition: 0.5s;
}

[data-theme="dark"] .darkmode{
    filter: invert(1);
    transition: 0.3s;
}

.darkmode:hover{
    background: rgba(255, 255, 255, 0.5);
    transition: 0.5s;
}

#darkSwitch {
    width: 257px;
    height: 51px;
    opacity: 0;
    cursor: pointer;
    position: absolute;
}