.cover{
    width: 48%;
    height: 30vh;
    object-fit: cover;
    cursor: pointer;
    transition: 0.3s;
}

.cover:hover{
    transform: scale(1.07);
    transition: 0.3s;
}

.separate-content{
    width: fit-content;
    display: flex;
    gap: 18px;
    flex-wrap: wrap;
    justify-content: flex-end;
}

[data-theme="dark-mode"] .cover{
    opacity: 0.8;
    transition: 0.3s;
}
@media only screen and (max-width: 1630px){
    .cover{
        width: 49.2%;
        height: 42vh;
    }
}

@media only screen and (max-width: 1480px){
    .cover{
        height: 46vh;
    }
}

@media only screen and (max-width: 1330px){
    .cover{
        width: 49%;
        height: 35vh;
    }
}

@media only screen and (max-width: 1080px){
    .cover{
        width: 48.8%;
        height: 27vh;
    }
}

@media only screen and (max-width: 900px){
    .cover{
        width: 100%;
        height: 48vh;
    }
}

@media only screen and (max-width: 500px){
    .cover{
        width: 100%;
        height: 22vh;
    }
    main{
        padding-top: 100px;
    }
}