.cover{
    width: 48%;
    height: 300px;
    object-fit: cover;
    cursor: pointer;
    transition: 0.3s;
}

.cover:hover{
    transform: scale(1.07);
    transition: 0.3s;
}

.separate-content{
    width: fit-content;
    display: flex;
    gap: 18px;
    flex-wrap: wrap;
    justify-content: flex-end;
}

[data-theme="dark-mode"] .cover{
    opacity: 0.8;
    transition: 0.3s;
}