.main{
    padding-top: 115px;
}

.thumbnail{
    width: 100%;
    height: 350px;
    background: indigo;
}

main{
    padding-top: 60px;
    width: 60%;
    display: block;
    /* margin-bottom: 45px; */
}

picture img{
    width: 100%;
    object-fit: cover;
    animation-name: fade;
    animation-duration: 0.3s;
}

div.closeproject, div.btnOut{
    display: flex;
    flex-direction: row;
}

div.closeproject{
    justify-content: flex-end;
}

div.btnOut{
    justify-content: center;
}

button.closeproject, button.out{
    width: 182px;
    height: 52px;
    font-family: 'Main', 'MarkGeo-SB', sans-serif;
    cursor: pointer;
    color: #303030;
    background: white;
    font-size: 22px;
    border: none;
}

button.out{
    padding: 20px 28px;
    width: auto;
    height: auto;
    background: transparent;
    border: 1px solid #303030;
    margin-top: 14px;
    transition: 0.3s;
}

button.out:hover{
    filter: invert(1);
    box-shadow: inset 0 -80px #04db88;
    transition: 0.3s;
}

.icon-x{
    width: 15px;
    height: 15px;
    background: url(../icons/cross-icon.svg);
    display: inline-block;
    background-position: center;
    background-repeat: no-repeat;
}

.switchimg{
    width: 15px;
    height: 15px;
    background: url(../icons/arrow-icon.svg), rgba(255, 255, 255, 0.25);
    background-position: center;
    background-repeat: no-repeat;
    border: none;
    padding: 40px;
    cursor: pointer;
    opacity: 0.1;
    transition: 0.3s;
}

.switchimg:hover{
    opacity: 1;
    transition: 0.3s;
}

.switch-r{
    transform: rotate(180deg);
}

picture{
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
}

.switchbuttons{
    display: flex;
    justify-content: space-between;
    position: absolute;
    width: 100%;
}

@keyframes fade {
    from {opacity: 0.6} 
    to {opacity: 1}
}

footer.responsive-1620{
    display: block;
}

section.social {
    flex-direction: row;
    gap: 24px;
}

a.social{padding: 25px 0;width: 33%;}

.ft-cont{
    height: auto;
}

[data-theme="dark"] button.out{
    color: #838383;
    border: 1px solid #868686;
    transition: 0.3s;
}

[data-theme="dark"] button.out:hover{
    color: #303030;
    transition: 0.3s;
}

a.rights:nth-child(2){
    display: none;
}

@media only screen and (max-width: 620px){
    main{
        width: 82%;
        padding-top: 25px;
    }
    .thumbnail {
        height: 170px;
    }
    .switchimg{
        padding: 32px;
    }
    button.closeproject{
        width: 130px;
        height: 36px;
        font-size: 16px;
    }
    .icon-x {
        width: 10px;
        height: 10px;
        background-size: cover;
    }
    a.social {
        font-size: 18px;
        padding: 12px 0px;
    }
    section.social{
        gap: 8px;
    }
    .switchimg{
        background: url(../icons/arrow-icon.svg), rgba(255, 255, 255, 0.25);
        background-position: center;
        background-repeat: no-repeat;
        opacity: 0.5;
    }
}