.shop-img-cover1{
    background: url(../images/nike-air-mag-01.jpg);
    background-position: 50% 50%;
    background-size: cover;
}

.shop-img-cover2{
    background: url(../images/suisse-football-cap.jpg);
    background-position: 50% 50%;
    background-size: cover;
}

.shop-img-cover3{
    background: url(../images/BAGHADBILLO\ Unisex\ Blue.jpg);
    background-position: 50% 50%;
    background-size: cover;
}

.shop-img-cover4{
    background: url(../images/waterproof-backpack-01.jpg);
    background-position: 50% 50%;
    background-size: cover;
}

.shop-img-cover4{
    background: url(../images/waterproof-backpack-01.jpg);
    background-position: 50% 50%;
    background-size: cover;
}

.shop-img-saint-martin{
    background: url(../images/Saint\ Martin\ -\ Black\ Felt\ Western\ Gambler\ Hat.jpg);
    background-position: 50% 50%;
    background-size: cover;
}

.shop-img-hooligan-fishbone{
    background: url(../images/Hooligan\ Fishbone\ Flat\ Cap\ by\ Brixton.jpg);
    background-position: 50% 50%;
    background-size: cover;
}

.shop-img-KBETHOS{
    background: url(../images/KBETHOS\ Unisex\ Washed\ Cotton\ Bucket\ Hat\ Summer\ Outdoor\ Cap.jpg);
    background-position: 50% 50%;
    background-size: cover;
}

.shop-img-havana-hat{
    background: url(../images/havana\ hat.jpg);
    background-position: 50% 50%;
    background-size: cover;
}

.shop-img-baseball-cap{
    background: url(../images/Cotton\ Baseball\ Cap.jpg);
    background-position: 50% 50%;
    background-size: cover;
}

.shop-img-BAGHADBILLO{
    background: url(../images/BAGHADBILLO\ Unisex\ Pink.jpg);
    background-position: 50% 50%;
    background-size: cover;
}

.shop-img-denim{
    background: url(../images/Denim\ Shirts\ jeans.jpg);
    background-position: 50% 50%;
    background-size: cover;
}

.shop-img-pastel{
    background: url(../images/pastel\ tie\ hoodie.jpg);
    background-position: 50% 50%;
    background-size: cover;
}

.shop-img-MOMOLAND{
    background: url(../images/MOMOLAND\ Plaid\ Shirt.jpg);
    background-position: 50% 50%;
    background-size: cover;
}

.shop-img-fila{
    background: url(../images/fila\ Camo\ Pullover.jpg);
    background-position: 50% 50%;
    background-size: cover;
}

.shop-img-gstar{
    background: url(../images/g\ star\ raw.jpg);
    background-position: 50% 50%;
    background-size: cover;
}

.shop-img-doe-regular{
    background: url(../images/john\ doe\ regular\ cargo\ motorbroek.jpg);
    background-position: 50% 50%;
    background-size: cover;
}

.shop-img-karl{
    background: url(../images/Karl\ Lagerfeld\ sweatpants.jpg);
    background-position: 50% 50%;
    background-size: cover;
}

.shop-img-adidas{
    background: url(../images/adidas\ Joggers\ &\ Sweatpants.jpg);
    background-position: 50% 50%;
    background-size: cover;
}

.shop-img-Nituyy-black{
    background: url(../images/Nituyy\ ripped\ jeans\ black.jpg);
    background-position: 50% 50%;
    background-size: cover;
}

.shop-img-Nituyy{
    background: url(../images/Nituyy\ ripped\ jeans.jpg);
    background-position: 50% 50%;
    background-size: cover;
}

.shop-img-Vestido{
    background: url(../images/vestido\ de\ flores.jpg);
    background-position: 50% 50%;
    background-size: cover;
}

.shop-img-floral{
    background: url(../images/floral\ dress\ white.jpg);
    background-position: 50% 50%;
    background-size: cover;
}

.shop-img-sleeveless{
    background: url(../images/sleeveless.jpg);
    background-position: 50% 50%;
    background-size: cover;
}

.shop-img-Plaid{
    background: url(../images/plaid\ overall\ dress\ .jpg);
    background-position: 50% 50%;
    background-size: cover;
}

.shop-img-bebovizi{
    background: url(../images/Bebovizi\ red\ dotted.jpg);
    background-position: 50% 50%;
    background-size: cover;
}

.shop-img-Woven{
    background: url(../images/Woven\ Emerald\ type.jpg);
    background-position: 50% 50%;
    background-size: cover;
}

.shop-img-jordan{
    background: url(../images/jordan-01.jpg);
    background-position: 50% 50%;
    background-size: cover;
}

.shop-img-combat-boots{
    background: url(../images/black\ combat\ boots.jpg);
    background-position: 50% 50%;
    background-size: cover;
}

.shop-img-laceup{
    background: url(../images/lace\ up.jpg);
    background-position: 50% 50%;
    background-size: cover;
}

.shop-img-plimsoll{
    background: url(../images/plimsoll.jpg);
    background-position: 50% 50%;
    background-size: cover;
}

.shop-img-Indago{
    background: url(../images/Thule\ Indago\ Backpack.jpg);
    background-position: 50% 50%;
    background-size: cover;
}

.shop-img-Barrage{
    background: url(../images/Barrage\ Cargo\ Backpack.jpg);
    background-position: 50% 50%;
    background-size: cover;
}

.shop-img-xdDesign{
    background: url(../images/XD\ Design\ Bobby\ Pro.jpg);
    background-position: 50% 50%;
    background-size: cover;
}

.shop-img-whyat{
    background: url(../images/tom\ ford\ whyat\ sunglasses.jpg);
    background-position: 50% 50%;
    background-size: cover;
}

.shop-img-Hublot{
    background: url(../images/Hublot\ Geneve.jpg);
    background-position: 50% 50%;
    background-size: cover;
}

.shop-img-Earring{
    background: url(../images/earring.jpg);
    background-position: 50% 50%;
    background-size: cover;
}

.shop-img-Armacao{
    background: url(../images/armação\ de\ oculos.jpg);
    background-position: 50% 50%;
    background-size: cover;
}

.shop-img-crlNecklace{
    background: url(../images/Circle\ Gold\ Necklace.jpg);
    background-position: 50% 50%;
    background-size: cover;
}

.shop-img-BrilliantNecklace{
    background: url(../images/Briliant\ Gold\ Necklace.jpg);
    background-position: 50% 50%;
    background-size: cover;
}